//INTRO
div#intro.intro.section
	div.intro-container
		- for (i in intro)
			- var sw = intro[i].width
			- var sh = intro[i].height
			div.intro-item(class="intro#{i}" n="#{i}" w="#{intro[i].width}" h="#{intro[i].height}")
				-for (a in intro[i].items)
					- var iw = intro[i].items[a].width
					- var ih = intro[i].items[a].width
					div.intro-animate(style="width:#{iw/sw*100}%;height:#{ih/sh*100}%;margin-left:#{iw/sw*-50}%;" animate="#{intro[i].items[a].animate}")
